*{
    margin: 0;
    padding: 0;
}
​
body {
    background-color: lightseagreen;
}
​
.number__section {
    border: .5px solid black;
    margin: 40px;
    padding: 8px;
    width: 55%;
    text-align: center;
    margin-left: 25%;
    border-radius:  33px;
}
​
.number__section input {
    padding: 2px;
    margin: 8px 0;
    background-color: #333;
    color: white;
    font-size: 14px;
    height: 22px;
}
​
button {
    padding: 7px;
    border-radius: 44px;
    background-color: greenyellow;
    color: black;
    width: 77px;
    font-size: 20px;
    cursor:pointer;
}
​
button:hover {
    background-color: darkslategray;
    color: white;
}
​
.injectedResultClass {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: indianred;
    font-weight: bold;
}